# On-Demand Statements Service

*.class
*.jar
*.war
*.ear
*.log
*.iml
*.ipr
*.iws

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Application
storage/
logs/
*.db
*.mv.db
*.trace.db
